﻿@model IEnumerable<Core2Mvc_ViewComp.Models.Category>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item list-group-item-action">@item.CategoryName</a>
    }
</div>