﻿@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="m-1 p-1 bg-primary">
    <div class="row text-white">
        <div class="col-7">
            <h4>Products</h4>
        </div>
        <div class="col-5">
            @await Component.InvokeAsync("ProductSummary");

        </div>
    </div>
</div>
<div class="m-1 p-1">
    <div class="row">
        <div class="col-4">
            @await Component.InvokeAsync("Category")
        </div>
        <div class="col-8">
            <table class="table table-bordered table-striped table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.ProductId</th>
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

